body {
  background: url("background.png") no-repeat fixed;
  background-size: cover;
  margin: 0;
  animation: fadeIn 1.5s;
}

.footer {
  margin-top: 50px;
}

.description { 
  max-height: 530px;
  max-width: 436px;
}

.navbar {
  height: 40px;
  font-size: 18px;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  background-color: red;
  max-height: 1px;
}

.navbar-link {
  color: #ffffff;
  text-decoration: none;
  margin-top: 10px;
  font-family: "Quicksand", sans-serif;
  margin-right: 10px;
  padding: 0;
}

.navbar:hover {
  background: red;
  max-height: 50px;
}

.navbar:hover .navbar-link:hover {
  color: black;
}

.splash {
  display: flex;
  justify-content: space-evenly;
  margin-top: 175px;
  margin-bottom: 80px;
}

a {
  text-decoration: none;
}

.top-description {
  color: #ffffff;
  font-size: 60px;
  font-family: "Quicksand", sans-serif;
  letter-spacing: 1px;
  margin-bottom: 0;
}

.middle-description {
  color: #ffffff;
  font-size: 45px;
  font-family: "Quicksand", sans-serif;
  letter-spacing: 1px;
  margin-top: 0;
  margin-bottom: 0;
  font-style: italic;
}

.bottom-description {
  text-align: justify;
  color: #ffffff;
  font-family: "Quicksand", sans-serif;
  font-size: 15px;
  max-width: 500px;
}

.link {
  font-family: "Quicksand", sans-serif;
  color: #ffffff;
}

hr {
  border-color: red;
}

.github:hover,
.linkedin:hover,
.link:hover,
#work-page-name-desc:hover {
  opacity: 50%;
  color: red;
}

#footer {
  display: none;
}

.work {
  background: #ffffff;
  color: black;
  border-radius: 30px 30px 0 0;
  box-shadow: -3px -3px 3px 0 black;
  display: flex;
  align-items: stretch;
}

@media (max-width: 1370px) {
  .splash {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    padding: none; 
  }

  .top-description {
    color: #ffffff;
    font-size: 35px;
    font-family: "Quicksand", sans-serif;
    letter-spacing: 1px;
    text-align: center;
    margin-top: 50px;
  }

  .middle-description {
    color: #ffffff;
    font-size: 35px;
    font-family: "Quicksand", sans-serif;
    letter-spacing: 1px;
    margin-top: 0;
    margin-bottom: 0;
    font-style: italic;
    text-align: center;
    word-spacing: 2px;
    letter-spacing: 1px;
  }

  .bottom-description {
    text-align: justify;
    color: #ffffff;
    font-family: "Quicksand", sans-serif;
    font-size: 15px;
    padding: 10px;
    max-width: 325px;
    margin-top: 5px;
  }

  .link {
    text-align: center;
  }

  .linkedin-github {
    display: flex;
    justify-content: center;
  }

  .github {
    margin-right: 5px;
  }

  hr {
    max-width: 85%;
  }

  .picture {
    max-height: 75%;
    max-width: 75%;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0%;
  }
  25% {
    opacity: 25%;
  }
  50% {
    opacity: 50%;
  }
  65% {
    opacity: 65%;
  }
  75% {
    opacity: 75%;
  }
  100% {
    opacity: 100%;
  }
}

@media (max-width: 500px) {
  .self-description {
    font-size: 12px;
  }
}

.picture #work-page {
  box-shadow: 2px 2px 5px #ffffff;
}
